<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter - Weight</title>
</head>
<body>
    <a href="{{url_for('length')}}">Length</a>
    <a href="{{url_for('weight')}}">Weight</a>
    <a href="{{url_for('temp')}}">Temperature</a>
    <form method="post" action="{{url_for('weight')}}">
        <label for="length">Enter weight to convert</label>
        <input type="number" step="any" name="weight" required>
        <br>
        <br>
        <label for="from">Unit to convert from</label>
        <select name="from" required>
            <option value="mg">milligram</option>
            <option value="g">gram</option>
            <option value="kg">kilogram</option>
            <option value="oz">ounce</option>
            <option value="lb">pound</option>
        </select>
        <br>
        <br>
        <label for="to">Unit to convert to</label>
        <select name="to" required>
            <option value="mg">milligram</option>
            <option value="g">gram</option>
            <option value="kg">kilogram</option>
            <option value="oz">ounce</option>
            <option value="lb">pound</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Convert">
</body>
</html>